# Sample code
sample-code/

# Node.js modules
node_modules/

# Distribution directory
dist/

# testing
coverage/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor-related
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# System files
.DS_Store
Thumbs.db

# Local environment files
.env
.env.*
!.env.example

# Temporary files
*~
\#*
.*.swp

# Sqlite DB
data/cache/*.sqlite